{{!--Code based on https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data--}}
{{!--Changes were made to meet the specifications of our entities--}}


<!-- index.hbs -->

{{!--
    Citation for the following image and links:
    Date: 02/25/2024 (link) 3/14/2024(image)

# Citation for Company logo
# Date: 3/14.2024
# Copied From
# 0 % originality (ai generated so we typed the prompt)
# Source URL: https://www.canva.com/ai-image-generator/  

# Link Citation (got from starter code)
# Date: 2/16/2024
# Based on 
# 20% originality we changed the links to reference our other pages respectively
# Source Url: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data

--}}

<h1><img src="img/Untitled Project.jpg" alt="Company Logo" width="200" height="50"></h1>

<link rel="stylesheet" href="css/pagestyle.css">


<p id="references">
[<a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/deliveries">Deliveries</a> | <a href="/employees">Employees</a> | <a href="/purchases">Purchases</a>| <a href="/transportvehicles">Transport Vehicles</a> | <a href="/employeetransportvehicles">Employeetransportvehicles</a>]
</p>


<h2>Employee Vehicle Registry</h2>
{{!--
    Citation for the following function:
    Date: 03/06/2024
    The following code was adapted from the nodejs starter app code  from :https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data and https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data

    This code was adapted from the two sources to use the data from the employeetransportvehicle entity to create a table of the data and to add a delete key to allow the user to delete an employeetransportvehicle
--}}
{{!-- Create a table --}}
<table id="employeetransportvehicle-table">
    {{!-- Header Section--}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body Section--}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.employees_transportvehicles_id}}</td>
            <td>{{this.employee_id}}</td>
            <td>{{this.vehicle_id}}</td>
            <td><button onclick="deleteemployeetransportvehicle({{this.employees_transportvehicles_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_employeetransportvehicle.js"></script>

{{!--
    end of Citation
--}}


{{!--
    Citation for the following function:
    Date: 03/06/2024
    The following code was adapted from the nodejs starter app code  from :https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data and https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%206%20-%20Dynamically%20Filling%20Dropdowns%20and%20Adding%20a%20Search%20Box

    This code was adapted from the source to allow the user to add a Delivery entry. The Major changes to the code were editing the form to use input data that would actually be used in the employeestransportvehicle class and making dynamic dropdown bars for the foreign keys.
--}}

{{!--Form to add an employeestransportvehicle to the table--}}
<h2>Add a vehicle an employee is allowed to drive</h2>
<p>To add a new employeestransportvehicle, please enter the information below and click 'Submit'!</p>
<form id="add-employeestransportvehicle-form-ajax">

    <select name="input-employee_id" id="input-employee_id">
        <option value="">Select an Employee</option>
        {{#each employees}}
        <option value="{{this.employee_id}}">{{this.employee_name}}</option>
        {{/each}}
    </select> 

    <select name="input-vehicle_id" id="input-vehicle_id">
        <option value="">Select a Vehicle</option>
        {{#each TransportVehicles}}
        <option value="{{this.vehicle_id}}">{{this.vehicle_id}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

<script src="./js/add_employeetransportvehicle.js"></script>
{{!--
    end of Citation
--}}


{{!--
    Citation for the following function:
    Date: 03/06/2024
    The following code was adapted from the nodejs starter app code  from :https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data and https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%206%20-%20Dynamically%20Filling%20Dropdowns%20and%20Adding%20a%20Search%20Box
    This code was adapted from the source to allow the user to update a employeestransportvehicle entry. The Major changes to the code were choosing the data that would be updatable and making the employeestransportvehicle_ID, employeeID, and the vehicleID have a dynamic dropdown bar
--}}
<h2>Update vehicles an employee is alowed to drive</h2>
<form id="update-employeestransportvehicle-form-ajax">

    <label for="input-employees_transportvehicles_id">EmployeeTransportVehicle ID: </label>
    <select name="input-employees_transportvehicles_id" id="input-employees_transportvehicles_id-update">
        <option>Select the ID of the Employeestransportvehicle you want to update</option>
        {{#each data}}
        <option value="{{this.employees_transportvehicles_id}}">{{this.employees_transportvehicles_id}}</option>
        {{/each}}
    </select>

    <label for="input-employee_id">Employee ID</label>
    <select name="input-employee_id" id="input-employee_id-update">
        {{#each data}}
        <option value="{{this.employee_id}}">{{this.employee_id}}</option>
        {{/each}}
    </select> 

    <label for="input-vehicle_id">Vehicle ID</label>
    <select name="input-vehicle_id" id="input-vehicle_id-update">
        {{#each data}}
        <option value="{{this.vehicle_id}}">{{this.vehicle_id}}</option>
        {{/each}}
    </select>  

    <input type="submit">

</form>
{{!--
    end of Citation
--}}
