{{!--Code based on https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data--}}
{{!--Changes were made to meet the specifications of our entities--}}


<!-- index.hbs -->


{{!--
    Citation for the following image and links:
    Date: 02/25/2024 (link) 3/14/2024(image)

# Citation for Company logo
# Date: 3/14.2024
# Copied From
# 0 % originality (ai generated so we typed the prompt)
# Source URL: https://www.canva.com/ai-image-generator/  

# Link Citation (got from starter code)
# Date: 2/16/2024
# Based on 
# 20% originality we changed the links to reference our other pages respectively
# Source Url: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data

--}}

<h1><img src="img/Untitled Project.jpg" alt="Company Logo" width="200" height="50"></h1>

<link rel="stylesheet" href="css/pagestyle.css">

<p id="references">
[<a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/deliveries">Deliveries</a> | <a href="/employees">Employees</a> | <a href="/purchases">Purchases</a>| <a href="/transportvehicles">Transport Vehicles</a> | <a href="/employeetransportvehicles">Employeetransportvehicles</a>]
</p>

<h2>Purchases</h2>
{{!--
    Citation for the following function:
    Date: 03/06/2024
    The following code was adapted from the nodejs starter app code  from :https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data and https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data

    This code was adapted from the two sources to use the data from the purchases entity to create a table of the data and to add a delete key to allow the user to delete a purchase
--}}
{{!-- Create a table --}}
<table id="purchase-table">
    {{!-- Header Section--}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body Section--}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.purchase_id}}</td>
            <td>{{this.customer_id}}</td>
            <td>{{this.date_placed}}</td>
            <td>{{this.total_price}}</td>
            <td><button onclick="deletePurchase({{this.purchase_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    
</table>
<script src="./js/delete_purchase.js"></script>
{{!--
    end of Citation
--}}


{{!--
    Citation for the following function:
    Date: 03/06/2024
    The following code was adapted from the nodejs starter app code  from :https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data and https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%206%20-%20Dynamically%20Filling%20Dropdowns%20and%20Adding%20a%20Search%20Box

    This code was adapted from the source to allow the user to add a purchase entry. The Major changes to the code were editing the form to use input data that would actually be used in the purhcases class and making dynamic dropdown bars for the foreign keys.
--}}
{{!--Form to add an purchase to the table--}}
<h2>Add a purchase to the table</h2>
<p>To add a new purchase, please enter the information below and click 'Submit'!</p>
<form id="add-purchase-form-ajax">

    <select name="input-customer_id" id="input-customer_id">
        <option value="">Select a Customer</option>
        {{#each customers}}
        <option value="{{this.customer_id}}">{{this.customer_name}}</option>
        {{/each}}
    </select>

    <label for="input-date_placed">Date Placed:</label>
    <input type="date" name="input-date_placed" id="input-date_placed"> 

    <label for="input-total_price">Total Price:</label>
    <input type="number" name="input-total_price" id="input-total_price"> 

    <input type="submit">
</form>
<script src="./js/add_purchase.js"></script>
{{!--
    end of Citation
--}}


{{!--
    Citation for the following function:
    Date: 03/06/2024
    The following code was adapted from the nodejs starter app code  from :https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data and https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%206%20-%20Dynamically%20Filling%20Dropdowns%20and%20Adding%20a%20Search%20Box
    This code was adapted from the source to allow the user to update a purchase entry. The Major changes to the code were chosing the data that would be updatable and making thepurchase_ID have a dynamic dropdown bar
--}}
<h2>Update a Purchase</h2>
<form id="update-purchase-form-ajax">

    <label for="input-purchase_id">Purchase ID: </label>
    <select name="input-purchase_id" id="input-purchase_id-update">
        <option>Select the ID of the Purchase you want to update</option>
        {{#each data}}
        <option value="{{this.purchase_id}}">{{this.purchase_id}}</option>
        {{/each}}
    </select>

    <label for="input-total_price">Total Price:</label>
    <input type="number" name="input-total_price-update" id="input-total_price-update">  

    <input type="submit">

</form>

<script src="./js/update_purchase.js"></script>
{{!--
    end of Citation
--}}